<body>
<div class="">
  <div class="card-body">
    <h4 class="card-title" style="text-align: center">Users and Details</h4>
    <a class="nav-link" style="text-align: center;font-weight: bold;" href="#" (click)="newUser($event)">Add a New User</a>
    <table class="table table-hover">
      <thead class="">
        <tr>
          <!-- <th>ID</th> -->
          <th>Username</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <!-- <td>{{user._id}}</td> -->
          <td> {{user.username}} </td>
          <td>{{user.address}}</td>
          <td> {{user.contact}} </td>
          <td> {{user.email}} </td>
          <td><button  class="btn btn-danger" (click)="doDelete(user)">Delete</button>&nbsp;
            <button class="btn btn-primary" (click)="doUpdate(user)">Update</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
</body>